services:
  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"
    volumes:
      - ./reverse_proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - suraj_ai

  suraj_ai:
    build: .
    image: root762/suraj_ai_app:latest
    env_file:
      - .env
    expose:
      - 8080
    restart: always