langchain
langchain_core
langchain_openai
langgraph
dotenv
uvicorn
fastapi
python-doctr
pydantic
python-multipart
cloudinary 
gunicorn
pytest
pytest-asyncio
openai>=1.42.0
pinecone
python-dotenv
numpy
pandas
PyYAML
requests
httpx